In [2]:
import wrangle as w 

import env
import os
import pandas as pd
import numpy as np

In [4]:
df = w.get_data()

In [6]:
df

,Unnamed: 0,parcelid,id,parcelid.1,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,...,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id.1,parcelid.2,logerror,transactiondate
0,0,17173851,787,17173851,NaN,NaN,NaN,2.0,4.0,NaN,...,2016.0,17519.0,781.00,NaN,NaN,6.111004e+13,389.0,17173851.0,0.088469,2017-01-03
1,1,10821119,1702,10821119,NaN,NaN,NaN,2.0,2.0,NaN,...,2016.0,274127.0,4692.27,NaN,NaN,6.037131e+13,402.0,10821119.0,0.025629,2017-01-03
2,2,11007640,2412,11007640,1.0,NaN,NaN,2.0,3.0,NaN,...,2016.0,160505.0,3887.80,NaN,NaN,6.037106e+13,2699.0,11007640.0,0.020360,2017-01-12
3,3,11457850,3770,11457850,NaN,NaN,NaN,2.0,3.0,NaN,...,2016.0,54446.0,1246.18,NaN,NaN,6.037276e+13,2229.0,11457850.0,0.054233,2017-01-11
4,4,12591550,8197,12591550,NaN,NaN,NaN,2.0,3.0,NaN,...,2016.0,385591.0,6098.62,NaN,NaN,6.037544e+13,3038.0,12591550.0,-0.016170,2017-01-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2152980,2152980,13915341,2982148,13915341,NaN,NaN,NaN,3.0,4.0,NaN,...,2016.0,196326.0,5314.32,NaN,NaN,6.059087e+13,NaN,NaN,NaN,NaN
2152981,2152981,14360869,2982193,14360869,NaN,NaN,NaN,3.5,4.0,NaN,...,2016.0,849510.0,18909.38,NaN,NaN,6.059063e+13,71174.0,14360869.0,0.086432,2017-08-29
2152982,2152982,13952473,2982226,13952473,NaN,NaN,NaN,4.0,5.0,NaN,...,2016.0,328384.0,8691.16,NaN,NaN,6.059089e+13,NaN,NaN,NaN,NaN
2152983,2152983,14367624,2982275,14367624,NaN,NaN,NaN,2.5,3.0,NaN,...,2016.0,129441.0,5302.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2152984,2152984,12385768,2982282,12385768,1.0,NaN,NaN,4.0,4.0,NaN,...,2016.0,217461.0,6761.20,Y,15.0,NaN,NaN,NaN,NaN,NaN

In [5]:
def remove_columns(df, cols_to_remove):  
    df = df.drop(columns=cols_to_remove)
    return df

In [8]:
df = remove_columns(df, ["Unnamed: 0"])

In [16]:
df.isnull().sum()

parcelid                          0
id                                0
parcelid                          0
airconditioningtypeid       1639073
architecturalstyletypeid    2150592
                             ...
censustractandblock           12322
id                          2100543
parcelid                    2100543
logerror                    2100543
transactiondate             2100543
Length: 64, dtype: int64

In [17]:
df.head()

,parcelid,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id,parcelid,logerror,transactiondate
0,17173851,787,17173851,NaN,NaN,NaN,2.0,4.0,NaN,NaN,...,2016.0,17519.0,781.00,None,NaN,6.111004e+13,389.0,17173851.0,0.088469,2017-01-03
1,10821119,1702,10821119,NaN,NaN,NaN,2.0,2.0,NaN,6.0,...,2016.0,274127.0,4692.27,None,NaN,6.037131e+13,402.0,10821119.0,0.025629,2017-01-03
2,11007640,2412,11007640,1.0,NaN,NaN,2.0,3.0,NaN,8.0,...,2016.0,160505.0,3887.80,None,NaN,6.037106e+13,2699.0,11007640.0,0.020360,2017-01-12
3,11457850,3770,11457850,NaN,NaN,NaN,2.0,3.0,NaN,6.0,...,2016.0,54446.0,1246.18,None,NaN,6.037276e+13,2229.0,11457850.0,0.054233,2017-01-11
4,12591550,8197,12591550,NaN,NaN,NaN,2.0,3.0,NaN,6.0,...,2016.0,385591.0,6098.62,None,NaN,6.037544e+13,3038.0,12591550.0,-0.016170,2017-01-13

In [19]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
parcelid,2152985.0,1.309662e+07,5.172434e+06,1.071172e+07,1.165907e+07,1.259850e+07,1.405608e+07,1.696019e+08
id,2152985.0,1.490843e+06,8.608787e+05,1.000000e+00,7.451290e+05,1.490640e+06,2.235865e+06,2.982282e+06
parcelid,2152985.0,1.309662e+07,5.172434e+06,1.071172e+07,1.165907e+07,1.259850e+07,1.405608e+07,1.696019e+08
airconditioningtypeid,513912.0,2.405684e+00,3.785911e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
architecturalstyletypeid,2393.0,7.187631e+00,2.739586e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
basementsqft,1538.0,6.511905e+02,5.520788e+02,2.000000e+01,2.617500e+02,5.195000e+02,8.895000e+02,8.516000e+03
bathroomcnt,2152974.0,2.230677e+00,9.992790e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,3.200000e+01
bedroomcnt,2152974.0,3.287195e+00,9.547910e-01,0.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,2.500000e+01
buildingclasstypeid,1.0,4.000000e+00,NaN,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
buildingqualitytypeid,1420314.0,6.146929e+00,1.697330e+00,1.000000e+00,4.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,2139310.0,2.244216e+00,9.869366e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,3.200000e+01
decktypeid,12571.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,163587.0,1.497903e+03,6.327567e+02,1.000000e+00,1.130000e+03,1.373000e+03,1.697000e+03,3.130300e+04
calculatedfinishedsquarefeet,2144500.0,1.862852e+03,1.222120e+03,1.000000e+00,1.257000e+03,1.623000e+03,2.208000e+03,9.525760e+05
finishedsquarefeet12,2136589.0,1.864441e+03,9.694559e+02,1.000000e+00,1.260000e+03,1.624000e+03,2.210000e+03,6.369200e+04
finishedsquarefeet13,4.0,8.775000e+02,4.196042e+02,5.500000e+02,6.415000e+02,7.360000e+02,9.720000e+02,1.488000e+03
finishedsquarefeet15,12.0,3.605583e+03,4.635044e+03,4.410000e+02,1.046000e+03,2.502000e+03,3.223000e+03,1.721400e+04
finishedsquarefeet50,163587.0,1.512740e+03,6.892231e+02,3.000000e+00,1.134000e+03,1.375000e+03,1.704000e+03,4.190600e+04
finishedsquarefeet6,7898.0,1.430515e+03,1.229188e+04,1.170000e+02,8.000000e+02,9.810000e+02,1.336000e+03,9.525760e+05
fips,2152985.0,6.048377e+03,2.043332e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,287606.0,1.178731e+00,4.743761e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.000000e+00
fullbathcnt,2139310.0,2.189198e+00,9.666120e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,3.200000e+01
garagecarcnt,698664.0,1.926653e+00,5.696367e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.500000e+01
garagetotalsqft,698664.0,4.886608e+02,1.605000e+02,0.000000e+00,4.200000e+02,4.600000e+02,5.370000e+02,7.749000e+03
hashottuborspa,49333.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
heatingorsystemtypeid,1424939.0,4.107412e+00,2.560808e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
latitude,2152985.0,3.400747e+07,2.481647e+05,3.333991e+07,3.383213e+07,3.400455e+07,3.417047e+07,3.481965e+07
longitude,2152985.0,-1.181912e+08,3.439654e+05,-1.194758e+08,-1.183845e+08,-1.181447e+08,-1.179442e+08,-1.175543e+08
lotsizesquarefeet,2139544.0,1.107215e+04,2.656322e+05,1.000000e+02,5.633000e+03,6.760000e+03,8.551000e+03,3.710005e+08
poolcnt,413252.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,27860.0,5.200931e+02,1.913151e+02,1.900000e+01,4.310000e+02,4.960000e+02,5.950000e+02,1.741000e+04
pooltypeid10,16429.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,32904.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,379857.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
propertylandusetypeid,2152985.0,2.610000e+02,0.000000e+00,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02
rawcensustractandblock,2152985.0,6.048687e+07,2.028071e+05,6.037101e+07,6.037402e+07,6.037571e+07,6.059042e+07,6.111009e+07
regionidcity,2112343.0,3.506684e+04,5.226416e+04,3.491000e+03,1.244700e+04,2.483200e+04,4.483300e+04,3.965560e+05
regionidcounty,2152985.0,2.552861e+03,7.951586e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,779147.0,1.863761e+05,1.614875e+05,6.952000e+03,4.146600e+04,1.188250e+05,2.746950e+05,7.641670e+05
regionidzip,2149598.0,9.658921e+04,4.276407e+03,9.598200e+04,9.619200e+04,9.638700e+04,9.698700e+04,3.996750e+05
roomcnt,2152968.0,1.864969e+00,3.122039e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,9.600000e+01
storytypeid,1535.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
threequarterbathnbr,232192.0,1.013812e+00,1.383251e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
typeconstructiontypeid,2658.0,5.981189e+00,3.486948e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.300000e+01
unitcnt,1424918.0,1.001423e+00,1.319584e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.020000e+02
yardbuildingsqft17,71454.0,3.414551e+02,2.378094e+02,1.000000e+01,2.000000e+02,2.880000e+02,4.050000e+02,7.983000e+03
yardbuildingsqft26,2484.0,2.724932e+02,3.380360e+02,1.000000e+01,1.000000e+02,1.680000e+02,3.150000e+02,4.144000e+03
yearbuilt,2143646.0,1.960949e+03,2.216238e+01,1.801000e+03,1.949000e+03,1.958000e+03,1.976000e+03,2.016000e+03
numberofstories,590868.0,1.386003e+00,5.377729e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.100000e+01
fireplaceflag,2849.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,2146049.0,1.787187e+05,2.717851e+05,1.000000e+00,7.414000e+04,1.224390e+05,2.038630e+05,6.640493e+07
taxvaluedollarcnt,2152492.0,4.618967e+05,6.996805e+05,1.000000e+00,1.881638e+05,3.276710e+05,5.345212e+05,9.842891e+07
assessmentyear,2152984.0,2.015999e+03,5.561275e-02,2.000000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,2152483.0,2.837141e+05,5.026690e+05,1.000000e+00,7.966750e+04,1.838940e+05,3.452790e+05,8.892195e+07
taxamount,2148543.0,5.634881e+03,8.179022e+03,1.850000e+00,2.534920e+03,4.108900e+03,6.414300e+03,1.337756e+06
taxdelinquencyyear,41259.0,1.388403e+01,2.431325e+00,0.000000e+00,1.400000e+01,1.400000e+01,1.500000e+01,9.900000e+01
censustractandblock,2140663.0,6.048664e+13,3.599283e+11,-1.000000e+00,6.037402e+13,6.037571e+13,6.059042e+13,4.830301e+14
id,52442.0,3.886063e+04,2.234844e+04,0.000000e+00,1.954625e+04,3.892750e+04,5.809350e+04,7.761300e+04
parcelid,52442.0,1.299912e+07,3.411412e+06,1.071186e+07,1.151030e+07,1.257766e+07,1.412951e+07,1.676878e+08
logerror,52442.0,1.829437e-02,1.775018e-01,-4.655420e+00,-2.463935e-02,7.009984e-03,4.069098e-02,5.262999e+00

In [9]:
def analyze_missing_values(df):
    missing_counts = df.isnull().sum()
    total_rows = len(df)
    missing_percentages = (missing_counts / total_rows) * 100
    
    missing_data_df = pd.DataFrame({'Missing Count': missing_counts, 'Missing Percentage': missing_percentages})
    missing_data_df.index.name = 'Attribute'
    
    return missing_data_df

In [10]:
analyze_missing_values(df)

                          Missing Count  Missing Percentage
Attribute
parcelid                              0            0.000000
id                                    0            0.000000
parcelid.1                            0            0.000000
airconditioningtypeid           1639073           76.130256
architecturalstyletypeid        2150592           99.888852
...                                 ...                 ...
censustractandblock               12322            0.572322
id.1                            2100543           97.564219
parcelid.2                      2100543           97.564219
logerror                        2100543           97.564219
transactiondate                 2100543           97.564219

[64 rows x 2 columns]

In [11]:
def handle_missing_values(df, prop_required_column = .5, prop_required_row = .75):
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df

In [12]:
df = handle_missing_values(df, .6, .75)

In [13]:
df

,parcelid,id,parcelid.1,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,...,regionidzip,roomcnt,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock
0,17173851,787,17173851,2.0,4.0,NaN,2.0,1848.0,1848.0,6111.0,...,97109.0,6.0,NaN,1952.0,47193.0,64712.0,2016.0,17519.0,781.00,6.111004e+13
1,10821119,1702,10821119,2.0,2.0,6.0,2.0,1430.0,1430.0,6037.0,...,96415.0,0.0,1.0,1952.0,107511.0,381638.0,2016.0,274127.0,4692.27,6.037131e+13
2,11007640,2412,11007640,2.0,3.0,8.0,2.0,1572.0,1572.0,6037.0,...,96368.0,0.0,1.0,1976.0,144802.0,305307.0,2016.0,160505.0,3887.80,6.037106e+13
3,11457850,3770,11457850,2.0,3.0,6.0,2.0,1412.0,1412.0,6037.0,...,96026.0,0.0,1.0,1941.0,38700.0,93146.0,2016.0,54446.0,1246.18,6.037276e+13
4,12591550,8197,12591550,2.0,3.0,6.0,2.0,1352.0,1352.0,6037.0,...,96160.0,0.0,1.0,1959.0,96651.0,482242.0,2016.0,385591.0,6098.62,6.037544e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2152980,13915341,2982148,13915341,3.0,4.0,NaN,3.0,1975.0,1975.0,6059.0,...,97020.0,0.0,NaN,2010.0,254615.0,450941.0,2016.0,196326.0,5314.32,6.059087e+13
2152981,14360869,2982193,14360869,3.5,4.0,NaN,3.5,3236.0,3236.0,6059.0,...,96952.0,0.0,NaN,2012.0,559878.0,1409388.0,2016.0,849510.0,18909.38,6.059063e+13
2152982,13952473,2982226,13952473,4.0,5.0,NaN,4.0,2992.0,2992.0,6059.0,...,97050.0,0.0,NaN,2013.0,395454.0,723838.0,2016.0,328384.0,8691.16,6.059089e+13
2152983,14367624,2982275,14367624,2.5,3.0,NaN,2.5,1974.0,1974.0,6059.0,...,96993.0,0.0,NaN,2015.0,294912.0,424353.0,2016.0,129441.0,5302.70,NaN
2152984,12385768,2982282,12385768,4.0,4.0,8.0,4.0,2110.0,2110.0,6037.0,...,96100.0,0.0,1.0,2014.0,336548.0,554009.0,2016.0,217461.0,6761.20,NaN

In [14]:
analyze_missing_values(df)

                              Missing Count  Missing Percentage
Attribute
parcelid                                  0            0.000000
id                                        0            0.000000
parcelid.1                                0            0.000000
bathroomcnt                               0            0.000000
bedroomcnt                                0            0.000000
buildingqualitytypeid                725075           33.796964
calculatedbathnbr                      6108            0.284704
calculatedfinishedsquarefeet            984            0.045866
finishedsquarefeet12                   8821            0.411162
fips                                      0            0.000000
fullbathcnt                            6108            0.284704
heatingorsystemtypeid                720455           33.581618
latitude                                  0            0.000000
longitude                                 0            0.000000
lotsizesquarefeet                     11568            0.539204
propertycountylandusecode                 3            0.000140
propertylandusetypeid                     0            0.000000
propertyzoningdesc                   718435           33.487463
rawcensustractandblock                    0            0.000000
regionidcity                          39291            1.831420
regionidcounty                            0            0.000000
regionidzip                            2316            0.107953
roomcnt                                   1            0.000047
unitcnt                              720477           33.582644
yearbuilt                              1924            0.089681
structuretaxvaluedollarcnt             2791            0.130093
taxvaluedollarcnt                       105            0.004894
assessmentyear                            0            0.000000
landtaxvaluedollarcnt                   107            0.004987
taxamount                              2660            0.123987
censustractandblock                    8831            0.411628

In [15]:
def get_upper_outliers(s, k):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, .75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

def add_upper_outlier_columns(df, k):
    '''
    Add a column with the suffix _outliers for all the numeric columns
    in the given dataframe.
    '''
    # outlier_cols = {col + '_outliers': get_upper_outliers(df[col], k)
    #                 for col in df.select_dtypes('number')}
    # return df.assign(**outlier_cols)

    for col in df.select_dtypes('number'):
        df[col + '_outliers'] = get_upper_outliers(df[col], k)

    return df

add_upper_outlier_columns(df, k=1.5)

,parcelid,id,parcelid.1,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,...,regionidzip_outliers,roomcnt_outliers,unitcnt_outliers,yearbuilt_outliers,structuretaxvaluedollarcnt_outliers,taxvaluedollarcnt_outliers,assessmentyear_outliers,landtaxvaluedollarcnt_outliers,taxamount_outliers,censustractandblock_outliers
0,17173851,787,17173851,2.0,4.0,NaN,2.0,1848.0,1848.0,6111.0,...,0.0,0.0,NaN,0.0,0.0,0.000,0.0,0.000,0.000,1.950085e+11
1,10821119,1702,10821119,2.0,2.0,6.0,2.0,1430.0,1430.0,6037.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.000,0.000,0.000000e+00
2,11007640,2412,11007640,2.0,3.0,8.0,2.0,1572.0,1572.0,6037.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.000,0.000,0.000000e+00
3,11457850,3770,11457850,2.0,3.0,6.0,2.0,1412.0,1412.0,6037.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.000,0.000,0.000000e+00
4,12591550,8197,12591550,2.0,3.0,6.0,2.0,1352.0,1352.0,6037.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.000,0.000,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2152980,13915341,2982148,13915341,3.0,4.0,NaN,3.0,1975.0,1975.0,6059.0,...,0.0,0.0,NaN,0.0,0.0,0.000,0.0,0.000,0.000,0.000000e+00
2152981,14360869,2982193,14360869,3.5,4.0,NaN,3.5,3236.0,3236.0,6059.0,...,0.0,0.0,NaN,0.0,161991.5,356289.125,0.0,106297.625,6688.655,0.000000e+00
2152982,13952473,2982226,13952473,4.0,5.0,NaN,4.0,2992.0,2992.0,6059.0,...,0.0,0.0,NaN,0.0,0.0,0.000,0.0,0.000,0.000,0.000000e+00
2152983,14367624,2982275,14367624,2.5,3.0,NaN,2.5,1974.0,1974.0,6059.0,...,0.0,0.0,NaN,0.0,0.0,0.000,0.0,0.000,0.000,NaN
2152984,12385768,2982282,12385768,4.0,4.0,8.0,4.0,2110.0,2110.0,6037.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.000,0.000,NaN